.Track {
  display: flex;
}

.Track__ListItem {
  list-style: none;
  padding: 10px 5px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Playing {
  background-color: #e85627;
}

.Track__DeleteButton {
  height: 20px;
  width: 20px;
}

.Track__DeleteButton:hover {
  background-color: #e85627;
}

.Track__EditButton {
  height: 22px;
  width: 22px;
}

.Track__EditButton:hover {
  background-color: #e85627;
}
