html {
  background-color: #682957;
  font-weight: 600;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bangers", cursive;
  font-size: larger;
  color: #17203b;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Bangers", cursive;
  font-size: large;
  color: #17203b;
}
