html {
	background-color: #682957;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.toggle-controls {
  width: 25%;
}

.media-player {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.canvas-container {
  display: flex;
  /* justify-content: center; */
  height: 70%;
  min-height: 620px;
}

.canvas {
  padding: 10px;
  width: 100%;
}

.record-player {
  padding: 20px;
}
.record-player-top {
  border-bottom: 200px solid #2b5983;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  height: 0px;
}

.record-disc {
  width: 110%;
  height: 162px;
  background: black;
  border-radius: 50%/ 50%;
  position: relative;
  top: 20px;
  right: 8px;
  box-shadow: 5px 10px 18px black;
}

.outer-disc {
  width: 50%;
  height: 37%;
  background: #e85627;
  border-radius: 50%/ 50%;
  position: relative;
  top: 28%;
  left: 24%;
}

.inner-disc {
  width: 10%;
  height: 20%;
  background: black;
  border-radius: 50%/ 50%;
  position: relative;
  top: 39%;
  left: 44%;
}

.record-player-bottom {
  background: #b92056;
}

.audio-player-container{
  display: flex;
  justify-content: center;
  padding: 9px;
}

.audio-controls {
  display: flex;
  justify-content: space-between;
  width:  75%;
  margin: auto ;
}

.track-sidebar {
  width: 25%;
}

.control-icon {
  height: 33px;
  width: 33px;  
}

.control-icon:hover {
  color: #ffe26f;
}

.file-upload-input {
  display:none;
}

.file-upload-label {
  border: 1px solid grey;
  padding: 5px;
  background-color: #f0b54d;
  border-radius: 5px;
  color: #323030;
  cursor: pointer;
}

.file-upload-label:hover {
  background-color: #e85627;
}

#mic-toggle {
  border: solid 2px black;
  border-radius: 2px;
  background-color: #f0b54d;
  margin: 2px;
}

#mic-toggle:hover {
  background-color: #e85627;
}

#background-toggle {
  border: solid 2px black;
  border-radius: 2px;
  background-color: #f0b54d;
  margin: 2px;
}

#background-toggle:hover {
  background-color: #e85627;
}

#visualiser-toggle {
  border: solid 2px black;
  border-radius: 2px;
  background-color: #f0b54d;
  margin: 2px;
}

#visualiser-toggle:hover {
  background-color: #e85627;
}

.track-list {
  padding: 0px;
  max-height: 800px;
  overflow: auto;
  border: solid;
  background: #f0b54d;
}

.track-list li {
  list-style: none;
  padding: 10px 5px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.track-list li.playing {
  background-color: #e85627;
}

.track-item-container {
  display: flex;
  flex-direction: row;
}

.delete-button {
  height: 20px;
  width: 20px;
}

.delete-button:hover {
  background-color: #e85627;
} 

.edit-button {
  height: 22px;
  width: 22px;
}

.edit-button:hover {
  background-color: #e85627;
}

.confirm-button {
  height: 20px;
  width: 20px;
}

.confirm-button:hover {
  background-color: #e85627;
}

.toggle-controls>button {
  padding: 8px 12px;
}

.track-list-item {
  display: flex;
  justify-content: space-between;
}