html {
	background-color: #00aeb0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.App {
  width: 100%;
}

.app-container {
  display: flex;
}

.audio-controls {
  display: flex;
  justify-content: space-between;
  width:  75%;
  margin: auto ;
}

.canvas {
  display: block;
}

.frequency-canvas {
  display: block;
  margin-left: 33%;
}

.audio-player-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.control-icon {
  height: 33px;
  width: 33px;
  
}

.control-icon:hover {
  color: #ffe26f;
}

.visualiser-container {
  height: 550px;
  display: flex;
  justify-content: center;

}

.file-upload-input {
  display:none;
}

.file-upload-label {
  border: 1px solid grey;
  padding: 5px;
  background-color: #ffe26f;
  border-radius: 5px;
  color: #323030;
  cursor: pointer;
}

.file-upload-label:hover {
  background-color: #f6eabb;
}

.toggle-controls {
  display: flex;
  justify-content: flex-end;
}

#mic-toggle {
  border-radius: px;
  background-color: #ffe26f;
  margin: 2px;
}

#mic-toggle:hover {
  background-color: #f6eabb;
}

#background-toggle {
  border-radius: 2px;
  background-color: #ffe26f;
  margin: 2px;
}

#background-toggle:hover {
  background-color: #f6eabb;
}

#visualiser-toggle {
  border-radius: 2px;
  background-color: #ffe26f;
  margin: 2px;
}

#visualiser-toggle:hover {
  background-color: #f6eabb;
}

.track-list {
  padding: 0px;
  max-height: 600px;
  overflow: auto;
}

.track-list li {
  list-style: none;
  padding: 10px 5px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
}

.track-list li.playing {
  background-color: #ffe26f;
}

.track-item-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 30%;

}