.AppContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 0px 10px;
  height: 100vh;
  margin: 0.25rem;
  margin-right: 0.25rem;
}

.TrackInterface {
  width: 30%;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1900px) {
  .TrackInterface {
    width: 27%;
  }
}
