.MediaPlayer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
}

.RecordPlayer__Contaier {
  margin-top: 1rem;
  width: 100%;
  padding-top: 42%;
  position: relative;
  max-width: 55rem;
  max-height: 300px;
}

.RecordPlayer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.RecordPlayer__Top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11rem;
  width: 50rem;
  background-color: #2b5983;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 100%,
    0% 100%
  ); /*use clip path to turn the top of the record player into a trapezoid*/
}

@media only screen and (min-width: 1900px) {
  .RecordPlayer__Top {
    height: 11rem;
    width: 55rem;
  }
}

.RecordPlayer__Bottom {
  background: #b92056;
  width: 50rem;
  height: 5rem;
}

@media only screen and (min-width: 1900px) {
  .RecordPlayer__Bottom {
    width: 55rem;
    height: 5rem;
  }
}

.RecordDisc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  background: black;
  border-radius: 50%/ 50%;
  box-shadow: 5px 10px 18px black;
}

.RecordDisc__Outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 37%;
  background: #e85627;
  border-radius: 50%/ 50%;
}

.RecordDisc__Inner {
  width: 10%;
  height: 20%;
  background: black;
  border-radius: 50%/ 50%;
}

.Canvas__Container {
  margin-top: 4rem;
  display: flex;
  min-height: 475px;
}
