.MediaPlayer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
}

.RecordPlayer__Contaier {
  margin-top: 1rem;
  width: 100%;
  padding-top: 42%;
  position: relative;
}

.RecordPlayer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.RecordPlayer__Top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 50rem;
  background-color: #2b5983;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 100%,
    0% 100%
  ); /*use clip path to turn the top of the record player into a trapezoid*/
}

@media only screen and (min-width: 1900px) {
  .RecordPlayer__Top {
    height: 15rem;
    width: 55rem;
  }
}

.RecordPlayer__Bottom {
  background: #b92056;
  width: 50rem;
  height: 5rem;
}

@media only screen and (min-width: 1900px) {
  .RecordPlayer__Bottom {
    width: 55rem;
    height: 5rem;
  }
}

.RecordDisc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 75%;
  background: black;
  border-radius: 50%/ 50%;
  box-shadow: 5px 10px 18px black;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .RecordDisc {
    animation: spin-record 4s infinite linear;
  }
}

@keyframes spin-record {
  0% {
    width: 75%;
    height: 75%;
  }
  25% {
    width: 74%;
    height: 76%;
  }
  50% {
    width: 73%;
    height: 77%;
  }
  75% {
    width: 74%;
    height: 76%;
  }
  100% {
    width: 75%;
    height: 75%;
  }
}

.RecordDisc__Moon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73%;
  height: 75%;
  background: rgb(233, 233, 233);
  border-radius: 50%/ 50%;
  position: absolute;
}

.RecordDisc__MoonInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  height: 78%;
  background: black;
  border-radius: 50%/ 50%;
  position: absolute;
}

.RecordDisc__MoonInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  height: 78%;
  background: black;
  border-radius: 50%/ 50%;
  position: absolute;
}

.RecordDisc__MoonInnerAnimated {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74%;
  height: 78%;
  background: black;
  border-radius: 50%/ 50%;
  position: absolute;
  animation: spin-record-inner;
}

@media (prefers-reduced-motion: no-preference) {
  .RecordDisc__MoonInnerAnimated {
    animation: spin-record-inner 4s infinite linear;
  }
}

@keyframes spin-record-inner {
  0% {
    width: 77%;
    height: 75%;
    transform: rotate(1deg);
  }
  25% {
    width: 76%;
    height: 76%;
    transform: rotate(3deg);
  }
  50% {
    width: 75%;
    height: 84%;
    transform: rotate(6deg);
  }
  75% {
    width: 79%;
    height: 95%;
    transform: rotate(6deg);
  }
}

.RecordDisc__Outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 37%;
  background: #e85627;
  border-radius: 50%/ 50%;
  position: absolute;
}

.RecordDisc__Inner {
  width: 10%;
  height: 20%;
  background: black;
  border-radius: 50%/ 50%;
}

.Canvas__Container {
  display: flex;
  min-height: 475px;
  position: relative;
}

.Television {
  position: absolute;
}
