.AudioControls {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
  position: absolute;
  bottom: 110px;
}

.AudioControls__Icon {
  height: 33px;
  width: 33px;
  margin-top: 0.25rem;
}
