.ToggleControls {
  width: 21%;
}

.ToggleControls:fullscreen {
  position: absolute;
}

@media only screen and (min-width: 1900px) {
  .ToggleControls {
    width: 23%;
  }
}

.Button {
  border: solid 2px black;
  border-radius: 0.25rem;
  background-color: #f0b54d;
  margin-right: 0.5rem;
  padding: 8px 12px;
  font-weight: 600;
}

.Button:hover {
  background-color: #e85627;
}

#Fullscreen {
  margin-top: 0.5rem;
}
