.UploadForm {
  display: flex;
  justify-content: flex-end;
}

.Button {
  border-radius: 0.25rem;
  border: 2px solid black;
  background-color: #67b9a9;
  width: 8rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.Button__Content {
  display: flex;
  vertical-align: middle;
}

.Button:hover {
  background-color: #4a897d;
}

.UploadForm__Input {
  display: none;
}
