.Track__Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Track__ListItem {
  list-style: none;
  padding: 10px 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 24rem;
}

.Playing {
  background-color: #e85627;
}

.Actions__Container {
  display: flex;
  flex-direction: row;
}

.Actions__Delete {
  border: 1px solid black;
  background-color: #d00a2b;
  width: 4rem;
}
.Actions__Delete:hover {
  background-color: #a5031e;
}

.Actions__Edit {
  border: 1px solid black;
  background-color: #67b9a9;
  width: 4rem;
}

.Actions__Edit:hover {
  background-color: #4a897d;
}

.Actions__Icon {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
